
body {
	font-family: sans-serif;
    background-color: black;
	text-align: center;
}

/* 
	Page Layout Classes:
	
		|===================================|
		|									|
		|	.header							|		
		|		|___						|
		|			.container				|
		|				|_______			|
		|						.footer		|
		|									|
		|===================================|

*/
.header h1{
	font-family: Courier;
	font-size: 65px;
	background-color: white;
	/*
	border: 20px solid red;
    border-radius: 150px;
    text-align: center;
    padding: 20px;
	*/
}

.header audio {
	border-top: 50px;
}

.container {
	background-image: linear-gradient(white, black);
	border-bottom: 0px;
}

.footer {
	background-color: black;
	padding-bottom: 500px;
}
/*=========================================================================*/

/*==========================| Custom scrollbar |===========================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
}
/*=========================================================================*/

.o-hide {
	opacity: 0;
	transition: all ease 1s;
}

.o-hide:hover {
	opacity: 1;
}

.hidden {
	display: none;
}
